body, input {
    font-family: "Meiryo UI", "Meiryo", "MS P Gothic",
    "Osaka-Mono", "Monospace", "Helvetica", "Arial", sans-serif;
}

fieldset {
    border-radius: 8px;
}

article {
    padding: 6px 0;
}

textarea {
    width: 400px;
    height: 150px;
    margin-left: 1rem;
}
